@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Whisper&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

/* COLORES */
:root{
    --color-primario:#0f0f0f;
    --color-secundario:#fff;
    --color-terciario:#04b5fb;
    --color-4:rgb(149, 155, 181);
    --color-5: #212529;
    --color-6: #3e4246;
    --color-7: #575c61;  
}
/* COLORES */

/* BARAA DE NAVEGACION */
nav{
    background: var(--color-primario);
    padding: 5px 40px;
    opacity: .90;
    position: fixed;
    margin-top: 0;
    width: 100%;
    z-index: 99;

  }

  .logo img{
    height: 90px;
    width: 200px;
  }

  ol, lu{
    padding-left: 0rem !important;
  }

  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li{
    padding: 15px 0;
    cursor: pointer;
  }
  nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: var(--color-terciario);
    opacity: 0;
    transition: all 0.2s linear;
  }
  nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
  }
  nav ul li.logo{
    flex: 1;
    color: var(--color-secundario);
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  nav ul li a{
    color: var(--color-secundario);
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  nav ul li:hover a{
    color: var(--color-terciario);
  }
  nav ul li i{
    font-size: 23px;
  }
  nav ul li.btn{
    display: none;
  }
  nav ul li.btn.hide i:before{
    content: '\f00d';
  }
  @media all and (max-width: 900px){
    nav{
      padding: 5px 30px;
    }
    nav ul li.items{
      width: 100%;
      display: none;
    }
    nav ul li.items.show{
      display: block;
    }
    nav ul li.btn{
      display: block;
    }
    nav ul li.items:hover{
      border-radius: 5px;
      box-shadow: inset 0 0 5px var(--color-terciario),
                  inset 0 0 10px var(--color-terciario);
    }
    nav ul li.items:hover:after{
      opacity: 0;
    }
  }
  /* BARRA DE NAVEGACION */

  
  /* CAROUSEL */

  .carousel-inner .carousel-items img{
    opacity: .1;
  }
  
  .carousel-inner img{
    width: 100%;
    height: 650px;
    object-fit: cover; /*Arqui se ajusta el carousel a un alto definido por el height anterior especificado*/
    background: linear-gradient(to bottom, grey);
    opacity: .65;
  }

  .carousel-inner h4{
    font-size: 5rem;
    color: var(--color-primario);
  }

  .carousel-inner h5{
    font-size: 2.5rem;
    color: var(--color-secundario);
  }

  /* TERMINA CAROUSEL */

  /* EMPIEZA GALERIA */

  /* .gallery01 {
    margin: 0, 0, 0, 100px;
}

.gallery01{
    margin: 0 auto;
    align-items: center;
}

.gallery01 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 3% 1% 3% 1%;
}


.gallery01 img {
    width: 100%;
}

@media screen and (max-width: 991px){
  .gallery01 {
    position: relative;
    text-align: center;
    color: #fff;
    padding-top: 100px;
    height: 300px;
    letter-spacing: 2px;
    border-radius: 0 0 30% 10%/0 0 30% 0%;
    width: 100%;
    height: auto;
    }
  }  */

  /* TERMINA GALERIA */

  /*AQUI COMENZAMOS LA SECCION DE TARJETAS*/
.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1280px;
    margin: 50px auto;
    padding: 20px;
    gap:20px;
  }
  
  
  .card-list .card-item{
    background: var(--color-5);
    padding: 20px;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
  }
  
  
  .card-list .card-item img{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
    object-fit: cover;
  }
  .card-list span {
    display: inline-block;
    background: var(--color-secundario);
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
  }
   .card-list .developer {
    background-color: var(--color-4);
    color: var(--color-primario);
  }  
   .card-list .designer {
    background-color: var(--color-4);
    color: var(--color-primario);
  }
   .card-list .editor {
    background-color: var(--color-4);
    color: var(--color-primario);
  }
   .card-item h3 {
    color: var(--color-secundario);
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
  }

  .card-list .card-item i{
    color: var(--color-secundario);
  }
  
  @media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
  }
   @media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
  }

  /* TERMINA TARJETAS */

   /*EMPIEZA SECCION 01 EN LA PAGINA DE INICIO*/


 .seccion01 {
  position: relative;
  background: linear-gradient(to bottom, #1f2933 , #1f2933c5), url("https://plus.unsplash.com/premium_photo-1661778773089-8718bcedb39e?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 150px;
  height: 350px;
  letter-spacing: 2px;
  /*border-radius: 0 0 90% 90%/0 0 30% 30%;*/
  z-index: 2;
}
 .seccion01:before {
  content:'';
  position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.297);
  z-index: -1;
}
  .seccion01 h1 {
  font-size: 1rem;
  line-height: 1.3;
  }
  .seccion01 h1 span {
  font-size: 2rem;
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 9px;
  line-height: 3;
 
  }
   .seccion01 h1 {
    font-size: 1rem;
    line-height: 1.3;
    }


 
@media screen and (max-width: 991px){
  .seccion01 {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 150px;
    height: 300px;
    letter-spacing: 2px;
    border-radius: 0 0 30% 10%/0 0 30% 0%;
    }
    .seccion01:before {
        border-radius: 0 0 90% 90%/0 0 30% 30%;
    }
     .seccion01 h1 {
    font-size: 1rem;
    line-height: 1.3;
    }
    .seccion01 h1 span {
    font-size: 1.2rem;
    color: var(--blanco);
    border-bottom: 3px solid var(--blanco);
    padding-bottom: 7px;
    line-height: 3;
    }
 }




/*Container*/


.container__text{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}


/*Agregar el inicio 01 Banner*/


.section__text .row{
  margin-top: 0%;
  margin-bottom: 0%;
  width: 95%;
  margin: 0 auto;
}
.section__text .row .col-md-6{
  background: transparent;
  margin-right: -2%;
  padding: 5%;
}
.section__text h3{
  font-size: 3rem;
  color: #0b0b0b79;
  font-weight: 800;
}
.section__text p{
  margin-top: 10%;
  color: #090909;
}
.section__text img
{
  width: 100%;
  border-radius: 5%;
}

/* TERMINA BANNER 01 EN LA PAGINA DE INICIO */

/* EMPIEZA BANNER 02 */
.seccion02 {
  position: relative;
  background: linear-gradient(to bottom, #1f2933 , #1f2933c5), url("https://plus.unsplash.com/premium_photo-1661778773089-8718bcedb39e?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 150px;
  height: 350px;
  letter-spacing: 2px;
  /*border-radius: 0 0 90% 90%/0 0 30% 30%;*/
  z-index: 2;
}
.seccion02:before {
  content:'';
  position: absolute;
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.297);
  z-index: -1;
}
  .seccion02 h1 {
  font-size: 1rem;
  line-height: 1.3;
  }
  .seccion02 h1 span {
  font-size: 2rem;
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 9px;
  line-height: 3;
 
  }
   .seccion02 h1 {
    font-size: 1rem;
    line-height: 1.3;
    }

    @media screen and (max-width: 991px){
      .seccion02 {
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        text-align: center;
        color: #fff;
        padding-top: 150px;
        height: 300px;
        letter-spacing: 2px;
        border-radius: 0 0 30% 10%/0 0 30% 0%;
        }
        .seccion02:before {
            border-radius: 0 0 90% 90%/0 0 30% 30%;
        }
         .seccion02 h1 {
        font-size: 1rem;
        line-height: 1.3;
        }
        .seccion02 h1 span {
        font-size: 1.2rem;
        color: var(--blanco);
        border-bottom: 3px solid var(--blanco);
        padding-bottom: 7px;
        line-height: 3;
        }
     }

     /*Container*/


.container__text{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
}


/*Agregar el inicio 01 Banner*/


.section__text .row{
  margin-top: 0%;
  margin-bottom: 0%;
  width: 95%;
  margin: 0 auto;
}
.section__text .row .col-md-6{
  background: transparent;
  margin-right: -2%;
  padding: 5%;
}
.section__text h3{
  font-size: 3rem;
  color: #0b0b0b79;
  font-weight: 800;
}
.section__text p{
  margin-top: 10%;
  color: #090909;
}
.section__text img
{
  width: 100%;
  border-radius: 5%;
}

.seccion02 .row .col-md-6 img{
  float: right;
}

/* TERMINA BANNER 02 */
  
  /* EMPIEZA MEDIA QUERY */
   @media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
  }
   @media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
  }
  /* TERMINA MEDIA QUERY */


  /* AQUI COMIENZA EL FOOTER */
  footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: var(--color-5);
  }

.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: var(--color-secundario);
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: var(--color-terciario);
  top: -10px;
}
.left .content p{
  text-align: justify;
}

/* ICONOS DE REDES SOCIALES */
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
  color: var(--color-secundario);
}

.left .content .social a span{
  height: 40px;
  width: 40px;
  background: var(--color-6);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: var(--color-7);
}
/* ICONOS DE REDES SOCIALES */

/* ICONOS DE TELEFONO, UBICACION Y MENSAJE */
.center .content .fas{
  font-size: 1.4375rem;
  background: var(--color-6);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover{
  background: var(--color-7);
}

.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
/* ICONOS DE TELEFONO, UBICACION Y MENSAJE */

.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}

/* ENTRADA DE TEXTO Y AREA DE TEXTO */

.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: var(--color-secundario);
}
/* ENTRADA DE TEXTO Y AREA DE TEXTO */

.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: var(--color-terciario);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
}
.right form .btn button:hover{
  background: var(--color-7);
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


.center h2{
  color: var(--color-secundario);
}

.content .text{
  color: var(--color-secundario);
}

.right h2{
  color: var(--color-secundario);
}

.left h2{
  color: var(--color-secundario);
}

.content p{
  color: var(--color-secundario);
}

  /* AQUI TERMINA EL FOOTER */