@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;

}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-primario:black;
    --color-secundario:white;
    --color-terciario:rgb(126, 126, 126);
}

nav{
    background: var(--color-primario);
    padding: 5px 40px;
    position: fixed;
    z-index: 99;
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul{
    padding-left: 0;
}

nav ul li{
    padding: 15px 0px;
    cursor: pointer;
}

nav ul li .items{
    position: relative;
    width: auto;
    margin: 0px 16px;
    text-align: center;
    order: 3;
}